[submodule "libs/strophe-plugins"]
	path = libs/strophe-plugins
	url = https://github.com/ggozad/strophe.plugins.git
[submodule "libs/backbone-plugins"]
	path = libs/backbone-plugins
	url = https://github.com/ggozad/Backbone.xmpp.git
